<div>
	S
	
	<div ng-include="'html/usersList.html'"></div>
	
	<div ng-include="'html/restaurantsList.html'"></div>
	
	<div ng-include="'html/productsList.html'"></div>
	
	<div ng-include="'html/vehiclesList.html'"></div>
	
	M
	
	<div>Bla</div>

	<!--  
	<table>
		<caption>USERS</caption>
		<thead style="display: list-item;">
			<tr>
				<th style="max-width: 140px; min-width: 140px">
					<input style="max-width: 140px" type="text" placeholder="Search by username" ng-model="serachUserByUsername" ng-change="searchUser()" >
				</th>
				<th style="max-width: 200px; min-width: 200px">
					<input style="max-width: 200px; min-width: 200px" type="text" placeholder="Search by email" ng-model="serachUserByEmail" ng-change="searchUser()">
				</th>
				<th style="max-width: 140px; min-width: 140px">
					<input style="max-width: 140px" type="text" placeholder="Search by name" ng-model="serachUserByName" ng-change="searchUser()">
				</th>
				<th style="max-width: 140px; min-width: 140px">
					<input style="max-width: 140px" type="text" placeholder="Search by surname" ng-model="serachUserBySurname" ng-change="searchUser()">
				</th>
				<th style="max-width: 140px; min-width: 140px">
					<input style="max-width: 140px" type="text" placeholder="Search by role" ng-model="serachUserByRole" ng-change="searchUser()">
				</th>
				<th style="max-width: 140px; min-width: 140px">
					<button ng-click="clearUserFilter()">Clear filter</button>
				</th>
			</tr>
			<tr>
				<th>Username</th>
				<th>Email</th>
				<th>Name</th>
				<th>Surname</th>
				<th>Role</th>
				<th style="max-width: 140px; min-width: 140px">Action</th>
			</tr>
		</thead>
		<tbody style="display: list-item; border: 1px solid green; height: 100px; overflow-y: scroll">
	  		<tr align="left" ng-repeat="user in users track by $index" ng-if="user">
	    		<td style="max-width: 140px; min-width: 140px">{{user.username}}</td>
	    		<td style="max-width: 200px; min-width: 200px">{{user.email}}</td>
	    		<td style="max-width: 140px; min-width: 140px">{{user.name}}</td>
	    		<td style="max-width: 140px; min-width: 140px">{{user.surname}}</td>
	    		<td style="max-width: 140px; min-width: 140px">
	    			<select ng-model="user.role" ng-change="onUserChange($index, user)" style="width: -webkit-fill-available;">        
	            		<option value="ADMIN">Admin</option>
	            		<option value="CUSTOMER">Customer</option>
	            		<option value="DELIVERER">Deliverer</option>
	    			</select>
	    		</td>
	    		<td style="display: flex; max-width: 140px; min-width: 140px">
	    			<button style="width:50%;" ng-disabled="!resetUserButton[$index]" ng-click="resetUser($index, user.id)">Reset</button>
	    			<button style="width:50%;" ng-disabled="!resetUserButton[$index]" ng-click="updateUser($index, user)">Update</button>
	    		</td>
	    		</div>
	  		</tr>
  		</tbody>
	</table>
	</br>
	<table>
		<caption>RESTAURANTS</caption>
		<thead style="display: list-item;">
			<tr>
				<th style="max-width: 140px; min-width: 140px">
					<input style="max-width: 140px; min-width: 140px" type="text" placeholder="Search by name" ng-model="searchRestaurantByName" ng-change="searchRestaurant()" >
				</th>
				<th style="max-width: 200px; min-width: 200px">
					<input style="max-width: 200px; min-width: 200px" type="text" placeholder="Search by address" ng-model="searchRestaurantByAddress" ng-change="searchRestaurant()" >
				</th>
				<th style="max-width: 140px; min-width: 140px">
					<input style="max-width: 140px; min-width: 140px" type="text" placeholder="Search by category" ng-model="searchRestaurantByCategory" ng-change="searchRestaurant()" >
				</th>
				<th style="max-width: 140px; min-width: 140px">
					<button ng-click="clearRestaurantFilter()">Clear filter</button>
				</th>
			<tr>
				<th>Name</th>
				<th>Address</th>
				<th>Category</th>
				<th style="max-width: 160px; min-width: 160px">Action</th>
			</tr>
		</thead>
		<tbody style="display: list-item; border: 1px solid green; height: 100px; overflow-y: scroll">
	  		<tr align="left" ng-repeat="restaurant in restaurants track by $index" ng-if="restaurant">
	    		<td style="max-width: 140px; min-width: 140px">
	    			<input style="max-width: 140px" type="text" ng-model="restaurant.name" ng-change="onRestaurantChange($index, restaurant)" value="restaurant.name">
	    		</td>
	    		<td style="max-width: 200px; min-width: 200px">
	    			<input style="min-width: 200px" type="text" ng-model="restaurant.address" ng-change="onRestaurantChange($index, restaurant)" value="restaurant.address">
	    		</td>
	    		<td style="max-width: 140px; min-width: 140px">
	    			<select ng-model="restaurant.category" ng-change="onRestaurantChange($index, restaurant)" style="width: -webkit-fill-available;">        
	            		<option value="DOMESTIC">Domestic</option>
	            		<option value="BARBECUE">Barbecue</option>
	            		<option value="CHINESE">Chinese</option>
	            		<option value="INDIAN">Indian</option>
	            		<option value="PASTRY_SHOP">Pastry shop</option>
	            		<option value="PIZZERIA">Pizzeria</option>
	    			</select>
	    		</td>
	    		<td style="display: flex; max-width: 160px; min-width: 160px">
	    			<button style="width:33%;" ng-disabled="!resetRestaurantButton[$index]" ng-click="resetRestaurant($index, restaurant.id)">Reset</button>
	    			<button style="width:33%;" ng-disabled="!resetRestaurantButton[$index]" ng-click="updateRestaurant($index, restaurant)">Update</button>
	    			<button style="width:33%;" ng-click="deleteRestaurant(restaurant.id)">Delete</button>
	    		</td>
	  		</tr>
	  	</tbody>
	  	<tfoot style="display: list-item;">
	  		<tr>
	  			<td style="max-width: 140px; min-width: 140px">
	  				<input style="max-width: 140px" type="text" ng-model="newRestaurant.name" ng-change="onNewRestaurantChange()">
	  			</td>
	  			<td style="max-width: 200px; min-width: 200px">
	  				<input style="min-width: 200px" type="text" ng-model="newRestaurant.address" ng-change="onNewRestaurantChange()">
	  			</td>
	  			<td style="max-width: 140px; min-width: 140px">
	    			<select style="width: -webkit-fill-available;" ng-model="newRestaurant.category" ng-change="onNewRestaurantChange()">        
	            		<option value="DOMESTIC">Domestic</option>
	            		<option value="BARBECUE">Barbecue</option>
	            		<option value="CHINESE">Chinese</option>
	            		<option value="INDIAN">Indian</option>
	            		<option value="PASTRY_SHOP">Pastry shop</option>
	            		<option value="PIZZERIA">Pizzeria</option>
	    			</select>
	    		</td>
	    		<td style="max-width: 160px; min-width: 160px">
	    			<button style="max-width: 160px; min-width: 160px" ng-disabled="!newRestaurantButton" ng-click="addRestaurant(newRestaurant)">Add restaurant</button>
	    		</td>
	  		</tr>
	  	</tfoot>
	</table>
	<table>
	<caption>PRODUCTS</caption>
	<thead style="display: list-item;">
		<tr>
			<th style="max-width: 140px; min-width: 140px">
				<input style="max-width: 140px; min-width: 140px" type="text" placeholder="Search by name" ng-model="searchProductByName" ng-change="searchProduct()" >
			</th>
			<th style="max-width: 80px; min-width: 80px">
				<input style="max-width: 80px; min-width: 80px" type="text" placeholder="By type" ng-model="searchProductByType" ng-change="searchProduct()" >
			</th>
			<th style="display: flex; max-width: 80px; min-width: 80px">
				<input style="max-width: 40px; min-width: 40px" type="text" placeholder="Min" ng-model="searchProductByMinPrice" ng-change="searchProduct()" >
				<input style="max-width: 40px; min-width: 40px" type="text" placeholder="Max" ng-model="searchProductByMaxPrice" ng-change="searchProduct()" >
			</th>
			<th style="max-width: 80px; min-width: 80px">
				<input style="max-width: 80px; min-width: 80px" type="text" placeholder="By quantity" ng-model="searchProductByQuantity" ng-change="searchProduct()" >
			</th>
			<th style="max-width: 80px; min-width: 80px">
				<input style="max-width: 80px; min-width: 80px" type="text" placeholder="By unit" ng-model="searchProductByUnit" ng-change="searchProduct()" >
			</th>
			<th style="max-width: 200px; min-width: 200px">
				<input style="max-width: 200px; min-width: 200px" type="text" placeholder="Search by restaurant" ng-model="searchProductByRestaurant" ng-change="searchProduct()" >
			</th>
			<th style="max-width: 200px; min-width: 200px">
				<input style="max-width: 200px; min-width: 200px" type="text" placeholder="Search by description" ng-model="searchProductByDescription" ng-change="searchProduct()" >
			</th>
			<th style="max-width: 140px; min-width: 140px">
				<button ng-click="clearProductFilter()">Clear filter</button>
			</th>
		<tr>
			<th>Name</th>
			<th>Type</th>
			<th>Price</th>
			<th>Quantity</th>
			<th>Unit</th>
			<th>Restaurant</th>
			<th>Description</th>
			<th style="max-width: 160px; min-width: 160px">Action</th>
		</tr>
	</thead>
	<tbody style="display: list-item; border: 1px solid green; height: 100px; overflow-y: scroll">
  		<tr align="left" ng-repeat="product in products track by $index" ng-if="product">
    		<td style="max-width: 140px; min-width: 140px">
    			<input style="max-width: 140px" type="text" ng-model="product.name" ng-change="onProductChange($index, product)" value="product">
    		</td>
    		<td style="max-width: 80px; min-width: 80px">
    			<select ng-model="product.type" ng-change="onProductChange($index, product)" style="width: -webkit-fill-available;">        
            		<option value="FOOD">Food</option>
            		<option value="BEVERAGE">Beverage</option>
    			</select>
    		</td>
    		<td style="max-width: 80px; min-width: 80px">
    			<input style="max-width: 80px; min-width: 80px;" type="text" ng-model="product.price" ng-change="onProductChange($index, product)" value="product">
    		</td>
    		<td style="max-width: 80px; min-width: 80px">
    			<input style="max-width: 80px" type="text" ng-model="product.quantity" ng-change="onProductChange($index, product)" value="product">
    		</td>
    		<td style="max-width: 80px; min-width: 80px">
    			<select ng-model="product.unit" ng-change="onProductChange($index, product)" style="width: -webkit-fill-available;">        
            		<option value="G">g</option>
            		<option value="ML">ml</option>
            		<option value="PIECE">piece</option>
    			</select>
    		</td>
    		<td style="max-width: 200px; min-width: 200px">
    			<input style="min-width: 200px" type="text" ng-model="product.restaurant" ng-change="onProductChange($index, product)" value="product">
    		</td>
    		<td style="max-width: 200px; min-width: 200px">
    			<input style="min-width: 200px" type="text" ng-model="product.description" ng-change="onProductChange($index, product)" value="product">
    		</td>
    		<td style="display: flex; max-width: 160px; min-width: 160px">
    			<button style="width:33%;" ng-disabled="!resetProductButton[$index]" ng-click="resetProduct($index, product.id)">Reset</button>
    			<button style="width:33%;" ng-disabled="!resetProductButton[$index]" ng-click="updateProduct($index, product)">Update</button>
    			<button style="width:33%;" ng-click="deleteProduct(product.id)">Delete</button>
    		</td>
  		</tr>
  	</tbody>
  	<tfoot style="display: list-item;">
  		<tr>
  			<td style="max-width: 140px; min-width: 140px">
  				<input style="max-width: 140px" type="text" ng-model="newProduct.name" ng-change="onNewProductChange()">
  			</td>
  			<td style="max-width: 80px; min-width: 80px">
  				<select ng-model="newProduct.type" ng-change="onNewProductChange()" style="width: -webkit-fill-available;">        
            		<option value="FOOD">Food</option>
            		<option value="BEVERAGE">Beverage</option>
    			</select>
  			</td>
  			<td style="max-width: 80px; min-width: 80px">
  				<input style="max-width: 80px" type="number" step="any" min="0" ng-model="newProduct.price" ng-change="onNewProductChange()">
  			</td>
  			<td style="max-width: 80px; min-width: 80px">
  				<input style="max-width: 80px" type="number" pattern="^[0-9]*$" min="0" ng-model="newProduct.quantity" ng-change="onNewProductChange()">
  			</td>
  			<td style="max-width: 80px; min-width: 80px">
  				<select ng-model="newProduct.unit" ng-change="onNewProductChange()" style="width: -webkit-fill-available;">        
            		<option value="ML">ml</option>
            		<option value="G">g</option>
            		<option value="PIECE">piece</option>
    			</select>
  			</td>
  			<td style="max-width: 200px; min-width: 200px">
  				<input style="min-width: 200px" type="text" name="product" ng-focus="newProductRestaurantClick" ng-model="newProduct.restaurant" list="productName" ng-change="onNewProductChange()"/>
				<datalist id="productName">
				     <option ng-repeat="rest in newProduct.restaurants track by $index" value="{{rest.name}}">
				</datalist>
  			</td>
  			<td style="max-width: 200px; min-width: 200px">
  				<input style="min-width: 200px" type="text" ng-model="newProduct.description" ng-change="onNewProductChange()">
  			</td>
    		<td style="max-width: 160px; min-width: 160px">
    			<button style="max-width: 160px; min-width: 160px" ng-disabled="!newProductButton" ng-click="addProduct(newProduct)">Add product</button>
    		</td>
  		</tr>
  	</tfoot>
	</table>
	<table>
	<caption>VEHICLES</caption>
	<thead style="display: list-item;">
		<tr>
			<th style="max-width: 140px; min-width: 140px">
				<input style="max-width: 140px; min-width: 140px" type="text" placeholder="Search by brand" ng-model="searchVehicleByBrand" ng-change="searchVehicle()" >
			</th>
			<th style="max-width: 140px; min-width: 140px">
				<input style="max-width: 140px; min-width: 140px" type="text" placeholder="Search by model" ng-model="searchVehicleByModel" ng-change="searchVehicle()" >
			</th>
			<th style="max-width: 100px; min-width: 100px">
				<input style="max-width: 100px; min-width: 100px" type="text" placeholder="Search by type" ng-model="searchVehicleByType" ng-change="searchVehicle()" >
			</th>
			<th style="max-width: 100px; min-width: 100px">
				<input style="max-width: 100px; min-width: 100px" type="text" placeholder="By registration" ng-model="searchVehicleByRegistration" ng-change="searchVehicle()" >
			</th>
			<th style="max-width: 100px; min-width: 100px">
				<input style="max-width: 100px; min-width: 100px" type="number" placeholder="By year" ng-model="searchVehicleByYear" ng-change="searchVehicle()" >
			</th>
			<th style="max-width: 80px; min-width: 80px">
				<input style="max-width: 80px; min-width: 80px" type="number" placeholder="Available" ng-model="searchVehicleByAvailable" ng-change="searchVehicle()" >
			</th>
			<th style="max-width: 200px; min-width: 200px">
				<input style="max-width: 200px; min-width: 200px" type="text" placeholder="Search by note" ng-model="searchVehicleByNote" ng-change="searchVehicle()" >
			</th>		
		<tr>
			<th>Brand</th>
			<th>Model</th>
			<th>Type</th>
			<th>Reg. number</th>
			<th>Prod. year</th>
			<th>Available</th>
			<th>Note</th>
			<th style="max-width: 160px; min-width: 160px">Action</th>
		</tr>
	</thead>
	<tbody style="display: list-item; border: 1px solid green; height: 100px; overflow-y: scroll">
  		<tr align="left" ng-repeat="vehicle in vehicles track by $index" ng-if="vehicle">
    		<td style="max-width: 140px; min-width: 140px">
    			<input style="max-width: 140px" type="text" ng-model="vehicle.brand" ng-change="onVehicleChange($index, vehicle)" value="vehicle">
    		</td>
    		<td style="max-width: 140px; min-width: 140px">
    			<input style="max-width: 140px" type="text" ng-model="vehicle.model" ng-change="onVehicleChange($index, vehicle)" value="vehicle">
    		</td>
    		<td style="max-width: 100px; min-width: 100px">
    			<select ng-model="vehicle.type" ng-change="onVehicleChange($index, vehicle)" style="width: -webkit-fill-available;">        
            		<option value="CAR">Car</option>
            		<option value="SCOOTER">Scooter</option>
            		<option value="BIKE">Bike</option>
    			</select>
    		</td>
    		<td style="max-width: 100px; min-width: 100px">
    			<input style="max-width: 100px" type="text" ng-model="vehicle.regNumber" ng-change="onVehicleChange($index, vehicle)" value="vehicle">
    		</td>
    		<td style="max-width: 100px; min-width: 100px">
    			<input style="max-width: 100px" type="number" ng-model="vehicle.productionYear" ng-change="onVehicleChange($index, vehicle)" value="vehicle">
    		</td>
    		<td style="max-width: 80px; min-width: 80px">
    			<select ng-model="vehicle.available" ng-change="onVehicleChange($index, vehicle)" style="width: -webkit-fill-available;">        
            		<option value="true">YES</option>
            		<option value="false">NO</option>
    			</select>
    		</td>
    		<td style="max-width: 200px; min-width: 200px">
    			<input style="min-width: 200px" type="text" ng-model="vehicle.note" ng-change="onVehicleChange($index, vehicle)" value="vehicle">
    		</td>
    		<td style="display: flex; max-width: 160px; min-width: 160px">
    			<button style="width:33%;" ng-disabled="!resetVehicleButton[$index]" ng-click="resetVehicle($index, vehicle.id)">Reset</button>
    			<button style="width:33%;" ng-disabled="!resetVehicleButton[$index]" ng-click="updateVehicle($index, vehicle)">Update</button>
    			<button style="width:33%;" ng-click="deleteVehicle(vehicle.id)">Delete</button>
    		</td>
  		</tr>
  	</tbody>
  	<tfoot style="display: list-item;">
  		<tr>
  			<td style="max-width: 140px; min-width: 140px">
  				<input style="max-width: 140px" type="text" ng-model="newVehicle.brand" ng-change="onNewVehicleChange()">
  			</td>
  			<td style="max-width: 140px; min-width: 140px">
  				<input style="max-width: 140px" type="text" ng-model="newVehicle.model" ng-change="onNewVehicleChange()">
  			</td>
  			<td style="max-width: 100px; min-width: 100px">
    			<select ng-model="newVehicle.type" ng-change="onNewVehicleChange()" style="width: -webkit-fill-available;">        
            		<option value="CAR">Car</option>
            		<option value="SCOOTER">Scooter</option>
            		<option value="BIKE">Bike</option>
    			</select>
    		</td>
  			<td style="max-width: 100px; min-width: 100px">
  				<input style="max-width: 100px" type="text" ng-model="newVehicle.regNumber" ng-change="onNewVehicleChange()">
  			</td>
  			<td style="max-width: 100px; min-width: 100px">
  				<input style="max-width: 100px" type="number" ng-model="newVehicle.productionYear" ng-change="onNewVehicleChange()">
  			</td>
  			<td style="max-width: 80px; min-width: 80px">
    			<select ng-model="newVehicle.available" ng-change="onNewVehicleChange()" style="width: -webkit-fill-available;">        
            		<option value="true">YES</option>
            		<option value="false">NO</option>
    			</select>
    		</td>
    		<td style="max-width: 200px; min-width: 200px">
  				<input style="min-width: 200px" type="text" ng-model="newVehicle.note" ng-change="onNewVehicleChange()">
  			</td>
    		<td style="max-width: 160px; min-width: 160px">
    			<button style="max-width: 160px; min-width: 160px" ng-disabled="!newVehicleButton" ng-click="addVehicle(newVehicle)">Add vehicle</button>
    		</td>
  		</tr>
  	</tfoot>
	</table>
	-->
</div>