<!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
<link rel="stylesheet" href="css/w3.css">
<link rel="stylesheet" href="css/dashboard.css">
<div class="w3-sidebar w3-bar-block w3-black w3-card" style="width:130px; float:left">
  <h5 class="w3-bar-item">Menu</h5>
  <button class="w3-bar-item w3-button tablink" ng-click="topTen($event, 'Top10')">Top 10</button>
  <button class="w3-bar-item w3-button tablink" ng-click="openLink($event, 'DOMESTIC')">Domestic</button>
  <button class="w3-bar-item w3-button tablink" ng-click="openLink($event, 'BARBECUE')">Barbecue</button>
  <button class="w3-bar-item w3-button tablink" ng-click="openLink($event, 'CHINESE')">Chinese</button>
  <button class="w3-bar-item w3-button tablink" ng-click="openLink($event, 'INDIAN')">Indian</button>
  <button class="w3-bar-item w3-button tablink" ng-click="openLink($event, 'PASTRY_SHOP')">Pastry Shop</button>
  <button class="w3-bar-item w3-button tablink" ng-click="openLink($event, 'PIZZERIA')">Pizza Place</button>
</div>



<div style="margin-left:130px">

	<br/>
	
	<div ng-if="top10Selected" id="DOMESTIC" class="w3-container city w3-animate-left">
    	<div ng-repeat="product in best10Products track by $index" ng-if="product" style="float:left; width:200px; height:300px">
    		 <div class="w3-card-4" style="width:90%; height:90%">
      			<p style="font-weight: bold; max-height: 10px;">{{product.restaurantName}}</p>
      			<img ng-src="images/{{product.type}}.png" alt="Norway" style="width:100%; height:50%">
      			<div class="w3-container w3-center">
      				
        			<p style="font-weight: bold; max-height: 10px;">{{product.name}}</p>
        			<p style="max-height: 40px; font-size: xx-small; overflow: hidden;">{{product.type}}</p>
        			<p style="max-height: 40px; font-size: xx-small; overflow: hidden;">{{product.quantity}}{{product.unit}}</p>
        			<p style="max-height: 40px; font-size: xx-small; overflow: hidden;">${{product.price}}</p>
      				<button ng-click="onSelectRestaurant(restaurant.id)" class="button button2" style="vertical-align:middle"><span>Menu </span></button>
      			</div>
   			</div>
		</div>
    </div>
	
	<div ng-if="categorySelected" id="DOMESTIC" class="w3-container city w3-animate-left">
    	<div ng-repeat="restaurant in selectedRestaurants track by $index" ng-if="restaurant" style="float:left; width:200px; height:300px">
    		<div class="w3-card-4" style="width:90%; height:90%">
      			<img ng-src="images/{{restaurant.category}}.png" alt="Norway" style="width:100%; height:50%">
      			<div class="w3-container w3-center">
        			<p style="font-weight: bold; max-height: 10px;">{{restaurant.name}}</p>
        			<p style="max-height: 40px; font-size: xx-small; overflow: hidden;">{{restaurant.address}}</p>
      				<button ng-click="onSelectRestaurant(restaurant.id)" class="button button2" style="vertical-align:middle"><span>Menu </span></button>
      			</div>
   			</div>
		</div>
    </div>
  
  	<div ng-if="restaurantSelected" id="blap" class="w3-container city w3-animate-left">
		<button ng-click="onBackRestaurant()" class="button button2" style="vertical-align:middle"><span>Back</span></button>
		<br/>
		<p style="border-bottom: 2px solid red; color:red; text-transform: uppercase""> {{selectedRestaurant.name}}'s products</p>
		<br/>
		<div ng-repeat="product in selectedProducts track by $index" ng-if="product" style="float:left; width:200px; height:300px">
    		<div class="w3-card-4" style="width:90%; height:90%">
      			<img ng-src="images/{{product.type}}.png" alt="Norway" style="width:100%; height:50%">
      			<div class="w3-container w3-center">
        			<p style="font-weight: bold; max-height: 10px;">{{product.name}}</p>
        			<p style="max-height: 40px; font-size: xx-small; overflow: hidden;">{{product.type}}</p>
        			<p style="max-height: 40px; font-size: xx-small; overflow: hidden;">{{product.quantity}}{{product.unit}}</p>
        			<p style="max-height: 40px; font-size: xx-small; overflow: hidden;">${{product.price}}</p>
        			<input ng-model="ammount"style="max-width: 40px;" onKeyDown="integerValidation()" type="number" min ="1" name="points" step="1" value="1">
      				<button ng-click="addToChart(product.id, ammount)" class="button button2" style="vertical-align:middle"><span>Add to chart </span></button>
      			</div>
   			</div>
		</div>
  </div>


</div>


