<div class="productslist" ng-controller="productsListCtrl">
	<label for="restaurants">Please select a restaurant</label>
	<select id="restaurants" class="form-control mb-3" ng-model="restaurantId" ng-change="selectedRestaurant()">
		<option ng-repeat="restaurant in restaurants track by $index" ng-if="restaurant" value="{{restaurant.id}}">{{restaurant.name}}</option>
	</select>
	<table class="table">
		<thead>
			<tr>
				<th>
					<input class="form-control" type="text" placeholder="Search by name" ng-model="searchProductByName" ng-change="searchProduct()">
				</th>
				<th>
					<input class="form-control" type="text" placeholder="By type" ng-model="searchProductByType" ng-change="searchProduct()">
				</th>
				<th>
					<input class="form-control mb-2" onKeyDown="integerValidation()" type="text" placeholder="Min" ng-model="searchProductByMinPrice"
					 ng-change="searchProduct()">
					<input class="form-control" onKeyDown="integerValidation()" type="text" placeholder="Max" ng-model="searchProductByMaxPrice"
					 ng-change="searchProduct()">
				</th>
				<th>
					<input class="form-control" onKeyDown="integerValidation()" type="text" placeholder="By quantity" ng-model="searchProductByQuantity"
					 ng-change="searchProduct()">
				</th>
				<th>
					<input class="form-control" type="text" placeholder="By unit" ng-model="searchProductByUnit" ng-change="searchProduct()">
				</th>
				<th>
					<input class="form-control" type="text" placeholder="Search by description" ng-model="searchProductByDescription"
					 ng-change="searchProduct()">
				</th>
				<th>
					<button class="btn btn-danger" ng-click="clearProductFilter()">Clear filter</button>
				</th>
			</tr>
			<tr>
				<th>Name</th>
				<th>Type</th>
				<th>Price</th>
				<th>Quantity</th>
				<th>Unit</th>
				<th>Description</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="product in restaurantProducts track by $index" ng-if="product">
				<td>
					<input class="form-control" type="text" ng-model="product.name" ng-change="onProductChange($index, product)" value="product">
				</td>
				<td>
					<select class="form-control" ng-model="product.type" ng-change="onProductChange($index, product)" style="width: -webkit-fill-available;">
						<option value="FOOD">Food</option>
						<option value="BEVERAGE">Beverage</option>
					</select>
				</td>
				<td>
					<input class="form-control" onKeyDown="integerValidation()" type="text" ng-model="product.price" ng-change="onProductChange($index, product)"
					 value="product">
				</td>
				<td>
					<input class="form-control" onKeyDown="integerValidation()" type="text" ng-model="product.quantity" ng-change="onProductChange($index, product)"
					 value="product">
				</td>
				<td>
					<select class="form-control" ng-model="product.unit" ng-change="onProductChange($index, product)" style="width: -webkit-fill-available;">
						<option value="G">g</option>
						<option value="ML">ml</option>
						<option value="PIECE">piece</option>
					</select>
				</td>
				<td>
					<input class="form-control" type="text" ng-model="product.description" ng-change="onProductChange($index, product)"
					 value="product">
				</td>
				<td>
					<button class="btn btn-danger" ng-disabled="!resetProductButton[$index]" ng-click="resetProduct($index, product.id)">Reset</button>
					<button class="btn btn-success" ng-disabled="!resetProductButton[$index]" ng-click="updateProduct($index, product)">Update</button>
					<button class="btn btn-danger" ng-click="deleteProduct(product.id)">Delete</button>
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td>
					<input class="form-control" type="text" ng-model="newProduct.name" ng-change="onNewProductChange()">
				</td>
				<td>
					<select class="form-control" ng-model="newProduct.type" ng-change="onNewProductChange()" style="width: -webkit-fill-available;">
						<option value="FOOD">Food</option>
						<option value="BEVERAGE">Beverage</option>
					</select>
				</td>
				<td>
					<input class="form-control" type="text" onKeyDown="integerValidation()" ng-model="newProduct.price" ng-change="onNewProductChange()">
				</td>
				<td>
					<input class="form-control" type="text" onKeyDown="integerValidation()" ng-model="newProduct.quantity" ng-change="onNewProductChange()">
				</td>
				<td>
					<select class="form-control" ng-model="newProduct.unit" ng-change="onNewProductChange()" style="width: -webkit-fill-available;">
						<option value="ML">ml</option>
						<option value="G">g</option>
						<option value="PIECE">piece</option>
					</select>
				</td>
				<td>
					<input class="form-control" type="text" ng-model="newProduct.description" ng-change="onNewProductChange()">
				</td>
				<td>
					<button class="btn btn-success" ng-disabled="!newProductButton" ng-click="addProduct(newProduct)">Add product</button>
				</td>
			</tr>
		</tfoot>
	</table>
</div>