<div class="restaurantslist" ng-controller="restaurantsListCtrl">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">
						<input type="text" class="form-control" placeholder="Search by name" ng-model="searchRestaurantByName" ng-change="searchRestaurant()">
					</th>
					<th scope="col">
						<input type="text" class="form-control" placeholder="Search by address" ng-model="searchRestaurantByAddress"
						 ng-change="searchRestaurant()">
					</th>
					<th scope="col">
						<input type="text" class="form-control" placeholder="Search by category" ng-model="searchRestaurantByCategory"
						 ng-change="searchRestaurant()">
					</th>
					<th scope="col">
						<button class="btn btn-danger" ng-click="clearRestaurantFilter()">Clear filter</button>
					</th>
				</tr>
				<tr>
					<th>Name</th>
					<th>Address</th>
					<th>Category</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="restaurant in restaurants track by $index" ng-if="restaurant">
					<td>
						<input class="form-control" type="text" ng-model="restaurant.name" ng-change="onRestaurantChange($index, restaurant)"
						 value="restaurant.name">
					</td>
					<td>
						<input class="form-control" type="text" ng-model="restaurant.address" ng-change="onRestaurantChange($index, restaurant)"
						 value="restaurant.address">
					</td>
					<td>
						<select class="form-control" ng-model="restaurant.category" ng-change="onRestaurantChange($index, restaurant)">
							<option value="DOMESTIC">Domestic</option>
							<option value="BARBECUE">Barbecue</option>
							<option value="CHINESE">Chinese</option>
							<option value="INDIAN">Indian</option>
							<option value="PASTRY_SHOP">Pastry shop</option>
							<option value="PIZZERIA">Pizzeria</option>
						</select>
					</td>
					<td>
						<button class="btn btn-danger" ng-disabled="!resetRestaurantButton[$index]" ng-click="resetRestaurant($index, restaurant.id)">Reset</button>
						<button class="btn btn-info" ng-disabled="!resetRestaurantButton[$index]" ng-click="updateRestaurant($index, restaurant)">Update</button>
						<button class="btn btn-danger" ng-click="deleteRestaurant(restaurant.id)">Delete</button>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td>
						<input class="form-control" type="text" ng-model="newRestaurant.name" ng-change="onNewRestaurantChange()">
					</td>
					<td>
						<input class="form-control" type="text" ng-model="newRestaurant.address" ng-change="onNewRestaurantChange()">
					</td>
					<td>
						<select class="form-control" ng-model="newRestaurant.category" ng-change="onNewRestaurantChange()">
							<option value="DOMESTIC">Domestic</option>
							<option value="BARBECUE">Barbecue</option>
							<option value="CHINESE">Chinese</option>
							<option value="INDIAN">Indian</option>
							<option value="PASTRY_SHOP">Pastry shop</option>
							<option value="PIZZERIA">Pizzeria</option>
						</select>
					</td>
					<td>
						<button class="btn btn-success" ng-disabled="!newRestaurantButton" ng-click="addRestaurant(newRestaurant)">Add restaurant</button>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>