<div class="userlist" ng-controller="usersListCtrl">
	<table class="table">
		<thead>
			<tr>
				<th scope="col">
					<input type="text" class="form-control" placeholder="Search by username" ng-model="serachUserByUsername" ng-change="searchUser()">
				</th>
				<th scope="col">
					<input type="text" class="form-control" placeholder="Search by email" ng-model="serachUserByEmail" ng-change="searchUser()">
				</th>
				<th scope="col">
					<input type="text" class="form-control" placeholder="Search by name" ng-model="serachUserByName" ng-change="searchUser()">
				</th>
				<th scope="col">
					<input type="text" class="form-control" placeholder="Search by surname" ng-model="serachUserBySurname" ng-change="searchUser()">
				</th>
				<th scope="col">
					<input type="text" class="form-control" placeholder="Search by role" ng-model="serachUserByRole" ng-change="searchUser()">
				</th>
				<th scope="col">
					<button class="btn btn-danger" ng-click="clearUserFilter()">Clear filter</button>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="user in users track by $index" ng-if="user">
				<td>{{user.username}}</td>
				<td>{{user.email}}</td>
				<td>{{user.name}}</td>
				<td>{{user.surname}}</td>
				<td>
					<select class="form-control" ng-model="user.role" ng-change="onUserChange($index, user)">
						<option value="ADMIN">Admin</option>
						<option value="CUSTOMER">Customer</option>
						<option value="DELIVERER">Deliverer</option>
					</select>
				</td>
				<td>
					<button class="btn btn-danger" ng-disabled="!resetUserButton[$index]" ng-click="resetUser($index, user.id)">Reset</button>
					<button class="btn btn-info" ng-disabled="!resetUserButton[$index]" ng-click="updateUser($index, user)">Update</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>