table,
th,
td,
caption {
    border: 1px solid black;
}

.userlist,
.restaurantslist,
.productslist,
.vehicleslist {
    overflow: auto;
}

.userlist table,
.restaurantslist table,
.productslist table,
.vehicleslist table {
    min-width: max-content;
}

.nav.nav-tabs li span {
    cursor: pointer;
    transition: 0.2s ease-in-out;
    font-size: 18px;
}

.nav.nav-tabs li span:hover {
    background-color: #00c4ff;
}

.nav.nav-tabs li span.active {
    background-color: #00c4ff;
}